<!DOCTYPE html>
<html lang=en>
    <head>
        <link rel='stylesheet' href='/styles/legal.css'>
        <script defer src="/scripts/legal.js"></script>
        <meta name='description' content="CryptoChat's Privacy Policy">
        <meta name="referrer" content="same-origin">
        <meta name='theme-color' content='#363636'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>CryptoChat</title>
    </head>
    <body>        
        <div class='chatbox-parent'>
            <div class='chatbox-child'>
                <div class='chatbox-header'>
                    <h1 class='chatbox-title'>CryptoChat - Legal</h1>
                    <h2 class="chatbox-subtitle">Read CryptoChat's legal policies regarding acceptable use, data handling, and more.</h2>
                </div>
                <div class="chatbox-buttons">
                    <div class="legal">
                        <a href="/terms"><button class="terms">Terms</button></a>
                        <a href="/privacy"><button class="privacy">Privacy</button></a>
                    </div>
                </div>
                <div class="extras">
                    <button class='themetoggler' id='toggler'>Dark</button>
                    <a href="/"><button class="home">Home</button></a>
                </div>
            </div>
        </div>
        <a href='https://github.com/httpjamesm/cryptochat/'><button class='githubbttn'>Github</button></a>
    </body>
</html>