<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CryptoChat - Anonymous & Secure Messaging</title>
        <link rel="stylesheet" href="/styles/global.css" />
        <meta name="description" content="Chat anonymously and securely with disposable encrypted rooms.">
        <link rel="stylesheet" href="/styles/splashscreen.css" />
        <script defer src="/scripts/splash.js"></script>
        <script defer src="/assets/diceware.js"></script>
        <meta name="referrer" content="same-origin" />
    </head>
    <body>
        <div class="container">
            <div class="logo"></div>
            </div>
            <h1>CryptoChat</h1>
            <div class="messagebox-parent">
                <div class="messagebox">
                    <div class="username">
                        <input
                            id="msg"
                            type="username"
                            class="message"
                            placeholder="Username"
                        />
                        <div class="roomkey">
                            <input
                            id="key"
                            type="username"
                            class="message"
                            placeholder="Room Key"
                            />
                            <button class="button randomize" id="randomizer">Random</button>
                        </div>
                        <button class="button theme" id="toggler">Light</button>
                        <button class="button join" id="join">Join</button>
                    </div>
            </div>
        </div>
    </body>
</html>
