<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CryptoChat - Anonymous & Secure Messaging</title>
        <link rel="stylesheet" href="/styles/global.css" />
        <meta name="description" content="Chat anonymously and securely with disposable encrypted rooms.">
        <link rel="stylesheet" href="/styles/splashscreen.css" />
        <script defer src="/scripts/splash.js"></script>
        <script defer src="/assets/diceware.js"></script>
        <script defer src="/scripts/passwordCheck.js"></script>
        <meta name="referrer" content="same-origin" />
        <link rel="manifest" href="/manifest.webmanifest" />
        <link rel="shortcut icon" type="image/jpg" href="/icons/favicon.ico" />
        <link rel="apple-touch-icon" href="/icons/cryptochat-512.png" />
        <meta name="theme-color" content="#363636" />
    </head>
    <body>
        <div id="content">
            <div class="container">
                <div class="logo"></div>
                <h1>CryptoChat</h1>
            </div>
                <div class="messagebox-parent">
                    <div class="messagebox">
                        <div class="username">
                            <input
                                id="msg"
                                type="username"
                                class="message"
                                placeholder="Username"
                            />
                            <div class="roomkey">
                                <input
                                id="key"
                                type="username"
                                class="message"
                                placeholder="Room Key"
                                />
                                <button class="button randomize" id="randomizer">Random</button>
                            </div>
                            <div class="buttons">
                                <div class="buttons top">
                                    <button class="button theme" id="toggler">Light</button>
                                    <button class="button join" id="join">Join</button>
                                </div>
                                <div class="buttons bottom">
                                    <a href="/legal"><button class="button legal">Legal</button></a>
                                    <a href="https://github.com/httpjamesm/cryptochat/"><button class="button github">Github</button></a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div id="popUpOverlay"></div>
        <div class="popUpBox" id="popUpBox">
            <div id="box">
              <h1>Weak Key</h1>
              <h2 style='font-weight: lighter;'>The key you entered is insecure. It is recommended to use the random button. Do you wish to proceed anyways?</h2>
              <div class="modalButtons">
                  <div id="proceedLeave"></div>
                  <div id="cancelLeave"></div>
              </div>
            </div>
    </body>
</html>
