.chatbox-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: 0;
    width: 100%;
    position: fixed;
}

.chatbox-child {
    height: 50em;
    width: 60em;
    border-radius: 50px;
    background: var(--main-background);
    box-shadow:
        20px 20px 60px var(--first-box-shadow),
        -20px -20px 60px var(--second-box-shadow);
}

.chatbox-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: var(--txt-color);
    margin-left: 5%;
}

.chatbox-subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: var(--txt-color);
    margin-left: 5%;
    font-weight: lighter;
}

.keyname {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: var(--txt-color);
    margin-left: 5%;
    font-weight: lighter;
}

.chatbox-header {
    line-height: 0.75em;
}

.chatbox-messages {
    height: 75%;
}

.chatbox-buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-bottom: 3%;
    margin-right: 5%;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

.messagebox {
    width: 100%;
    padding: 0 5px 5px;
    display: flex;
    justify-content: center;
}

.messagebox input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    margin-left: 1%;
    padding: 20px 10px 20px 5px;
    margin-right: 1%;
    width: 95%;
    color: var(--txt-color);
}

.username {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow:
        inset 8px 8px 8px var(--inside-box-shadow-one),
        inset -8px -8px 8px var(--inside-box-shadow-two);
    width: 50em;
}

.messageviewer {
    height: 80%;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow:
        inset 8px 8px 8px var(--inside-box-shadow-one),
        inset -8px -8px 8px var(--inside-box-shadow-two);
    width: 45em;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    padding: 20px 10px 20px 9px;
    overflow: scroll;
    overflow-x: hidden;
    color: var(--txt-color);
}

p {
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

.messageviewer p {
    margin-left: 5%;
}

.messageviewer-parent {
    display: flex;
    justify-content: center;
    height: 80%;
}

.message {
    width: 50em;
}

@media only screen and (max-width: 800px) {
    .chatbox-child {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }

    .chatbox-title {
        font-size: 2em;
    }

    .chatbox-subtitle {
        font-size: 1em;
    }

    .messageviewer {
        font-size: 1em;
    }

    .username {
        width: 22em;
    }

    .messagebox {
        width: 100%;
    }

    .message {
        width: 100%;
    }

    .legal {
        position: absolute;
        bottom: 0;
        height: 25px;
        width: 100px;
        margin-bottom: 1%;
    }

    .githubbttn {
        position: relative;
        bottom: 0;
        float: right;
        height: 25px;
        width: 100px;
        margin-bottom: 1%;
    }
    
    .popUpBox {
        width: 90%;
    }
}

.info {
    background: var(--main-background);
    box-shadow:
        20px 20px 60px var(--first-box-shadow),
        -20px -20px 60px var(--second-box-shadow);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: pink;
    font-size: 20px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
}

.popUpBox {
    width: 25%;
    overflow: hidden;
    background: #292929;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
    padding: 2%;
}

.modalButtons {
      display:flex;
      justify-items:center;
      margin-top: 15%;
      justify-content: space-evenly;
}

.modalButton {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: var(--txt-color);
    background-color: var(--bttn-color);
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.modalButton:hover {
    color: var(--txt-color);
    transform: translateY(-7px);
}

.modalButton-red {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: black;
    background-color: red;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.modalButton-red:hover {
    color: var(--txt-color);
    transform: translateY(-7px);
}
