:root {
    --main-background: #1e1e1e;
    --first-box-shadow: #363636;
    --second-box-shadow: #1a1a1a;
    --inside-box-shadow-one: #131313;
    --inside-box-shadow-two: #242424;
    --txt-color: white;
    --bttn-color: black;
}

[data-theme="light"] {
    --main-background: #e0e0e0;
    --first-box-shadow: #bebebe;
    --second-box-shadow: #ffffff;
    --inside-box-shadow-one: #cbced1;
    --inside-box-shadow-two: #ffffff;
    --txt-color: black;
    --bttn-color: white;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--txt-color);
}

body {
    background: var(--main-background);
    min-height: 100%;
    min-width: auto;
}

.chatbox-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    z-index:0;
    width: 100%;
    position: fixed;
}

.chatbox-child {
    height: 20em;
    width: 60em;
    border-radius: 50px;
    background: var(--main-background);
    box-shadow:  20px 20px 60px var(--first-box-shadow),
                 -20px -20px 60px var(--second-box-shadow);
    word-wrap:break-word;
}

.extras {
    margin:5%;
}

.chatbox-title {    
    font-size: 3em;
    margin-left: 5%;
}

.chatbox-subtitle {
    
    font-size: 1.5em;
    margin-bottom:5%;
    margin-left: 5%;
    font-weight: lighter;
}

.chatbox-header {
    line-height: 0.75em;
}


.chatbox-buttons {
    display:flex;
    justify-content: space-evenly;
    margin-top:5%;
    margin-left: 5%;
    margin-right: 5%;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

.textcontent {
    margin-left: 5%;
    margin-right:5%;
}

.header {
    margin-left:5%;
}

.bullet {
    margin-left:3%;
    margin-right:3%;
}

.githubbttn {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: var(--bttn-color);
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    float: right;
    z-index: 10000 important;
    position: relative;
}

.githubbttn:hover {
    background-color: #2e68e5;
    box-shadow: 0 15px 20px 0 #2e68e5;
    transform: translateY(-7px);
}

.themetoggler {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: var(--bttn-color);
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    float: left;
}

.home {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: var(--bttn-color);
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    float: right;
}

.themetoggler:hover {
    background-color: #2ee5dc;
    box-shadow: 0 15px 20px 0 #2ee5dc;
    transform: translateY(-7px);
}

.home:hover {
    background-color: #ffe550;
    box-shadow: 0 15px 20px 0 #ffe550;
    color: var(--bttn-color);
    transform: translateY(-7px);
}

.terms {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: var(--bttn-color);
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    float: left;
}

.privacy {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: var(--bttn-color);
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    float: right;
}

.privacy:hover {
    background-color: #e52ecd;
    box-shadow: 0 15px 20px 0 #e52ecd;
    transform: translateY(-7px);
}

.terms:hover {
    background-color: #ff6a50;
    box-shadow: 0 15px 20px 0 #ff6a50;
    color: var(--bttn-color);
    transform: translateY(-7px);
}

@media only screen and (max-width: 800px) {
    .chatbox-child {
        height:100%;
        width: 100%;
        border-radius: 0;
        overflow:scroll;
    }

    .chatbox-title {
        margin-top:30%;
        font-size:2em;
    }
    .chatbox-subtitle {
        font-size:1em;
        line-height: 1.25em;
        margin-bottom:50%;
    }

    .chatbox-buttons {
        justify-content: center;
    }
}

