<!DOCTYPE html>
<html lang=en>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
        <link rel='manifest' href='./manifest.webmanifest'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CryptoChat</title>
        <meta name="theme-color" content="#363636">
        <link rel="apple-touch-icon" href="/icons/512">
        <link rel="stylesheet" href="/darkmode.css" name="styles">
        <meta name="description" content="Chat anonymously and securely with disposable encrypted rooms."
    </head>
    <body>        
        <div class="chatbox-parent">
            <div class="chatbox-child">
                <div class="chatbox-header">
                    <p class="keyname" id="keyname"></p>
                    <h1 class="chatbox-title">CryptoChat</h1>
                    <h2 class="chatbox-subtitle">A stunning encrypted chat webapp.</h2>
                </div>
                <div class="chatbox-messages">
                    <div class="messageviewer-parent">
                        <div id="messageviewer" name="messageviewer" class="messageviewer">
                            <p class="messagetxt"></p>
                        </div>
                    </div>
                    <div class="messagebox">
                        <div class="fields">
                            <div class="username"><input id="msg" type="username" class="message" placeholder="Hello!" /></div>
                        </div>
                    </div>
                </div>
                <div class="chatbox-buttons">
                    <button class="send" onclick="submitMessage();">Send</button>
                    <button class="themetoggler" onclick="switchTheme()" id="toggler">Dark</button>
                </div>
            </div>
        </div>
        <a href="https://github.com/httpjamesm/cryptochat/"><button class="githubbttn">Github</button></a>
    </body>
    <script>
            // Registering our Service worker

    if ('serviceWorker' in navigator) {
	window.addEventListener('load', function() {
		navigator.serviceWorker.register('./sw.js').then(function(registration) {
			// Registration was successful
			console.log('ServiceWorker registration successful with scope: ', registration.scope);
		}, function(err) {
			// Registration Failed :(
			console.log('ServiceWorker registration failed: ', err);
		});
	});
}


        var user_name = prompt("Username:", "");
        var decryptPass = prompt("Encryption Key:", "")
        var notificationsound = new Audio('https://' + window.location.hostname + ":" + location.port + "/notification")
    notificationsound.volume = 0.1
    
    let code = (function(){
        return{
            encryptMessage: function(messageToencrypt = '', secretkey = ''){
                var encryptedMessage = CryptoJS.AES.encrypt(messageToencrypt, secretkey);
                return encryptedMessage.toString();
            },
            decryptMessage: function(encryptedMessage = '', secretkey = ''){
        var decryptedBytes = CryptoJS.AES.decrypt(encryptedMessage, secretkey);
        var decryptedMessage = decryptedBytes.toString(CryptoJS.enc.Utf8);

      return decryptedMessage;
    }
    }
    })();

    var socket = io.connect('https://' + window.location.hostname + ':' + location.port);
    /*var matches = window.location.href.match(/\?key=(?<key>.*)&username=(?<username>.*)/);
    var decryptPass = matches.groups.key;    
    var user_name = matches.groups.username;*/
    socket.on( 'connect', function() {
      socket.emit( 'chat event', {
        data: 'User Connected'  
    })})
    
    document.getElementById("msg").focus()
    
    document.getElementById("msg")
    .addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            form2()
        }
    });
    
    document.getElementById("keyname").innerText = "Key: " + decryptPass
    socket.emit( 'chat event', {
        user_name : code.encryptMessage(user_name,decryptPass),
        message : code.encryptMessage('has joined the room.',decryptPass)
    })    
    function form2 ( e ) {
        let user_input =  document.getElementById("msg").value
        if (user_input == "") {
            return
        }
        socket.emit( 'chat event', {
            user_name : code.encryptMessage(user_name,decryptPass),  
            message : code.encryptMessage(user_input,decryptPass)
        } )  
        $( 'input.message' ).val( '' ).focus()
    }    
    socket.on( 'my response', function( msg ) {
      console.log( msg )
      if( typeof msg.user_name !== 'undefined' ) {
        $( 'h3' ).remove()  
        messagebox = document.createElement('P')
        messagebox.className = 'messagetxt'
        
        if (code.decryptMessage(msg.user_name,decryptPass) == "" && code.decryptMessage(msg.message,decryptPass) == ""){
            return
        }
        text = document.createTextNode(code.decryptMessage(msg.user_name,decryptPass) + ": " + code.decryptMessage(msg.message,decryptPass));
        messagebox.appendChild(text)
        messages = document.getElementsByName("messageviewer")[0]
        messages.appendChild(messagebox)
        messages.scrollTop = messages.scrollHeight;
        if (document.hasFocus()){
            return
        }
        notificationsound.play()
      }  
    })  
    function submitMessage() {
        form2()
    }
    function changeButton( el )
{
    if ( el.innerText == "Dark" )
        el.innerText = "Light";
    else
        el.innerText = "Dark";
}
    function toggleTheme(el) {
            changeButton(el);
            // Obtains an array of all <link>
            // elements.
            // Select your element using indexing.
            var theme = document.getElementsByName('styles')[0];
            console.log(theme)
  
            // Change the value of href attribute 
            // to change the css sheet.
            if (theme.getAttribute('href') == 'lightmode.css') {
                theme.setAttribute('href', 'darkmode.css');
            } else {
                theme.setAttribute('href', 'lightmode.css');
            }
        }

    function switchTheme(e) {
        button = document.getElementById('toggler').innerText
        console.log(button)
        if (button === "DARK"){
            console.log("yes")
            document.documentElement.setAttribute('data-theme','light')
            document.getElementById('toggler').innerText = "LIGHT"
        } else {
            document.documentElement.setAttribute('data-theme','dark')
            document.getElementById('toggler').innerText = "DARK"
        }
}
function leaveRoom() {
    socket.emit( 'chat event', {
        user_name : code.encryptMessage(user_name,decryptPass),
        message : code.encryptMessage('has left the room.',decryptPass)
    })    
}
window.addEventListener("beforeunload", function(evt) {

// Cancel the event (if necessary)
evt.preventDefault();
leaveRoom()
// Google Chrome requires returnValue to be set
evt.returnValue = '';
return null;
});


    </script>
</html>