<!DOCTYPE html>
<html lang=en>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CryptoChat Web</title>
        <link rel="stylesheet" href="/darkmode.css" name="styles">
    </head>
    <body>
        <a id="chat-zone"></a>
        
        <div class="chatbox-parent">
            <div class="chatbox-child">
                <div class="chatbox-header">
                    <h1 class="chatbox-title">CryptoChat</h1>
                </div>
                <div class="chatbox-messages">
                    <div class="messageviewer-parent">
                        <div id="messageviewer" name="messageviewer" class="messageviewer">
                            <p class="messagetxt"></p>
                        </div>
                    </div>
                    <div class="messagebox">
                        <div class="fields">
                            <div class="username"><input id="msg" type="username" class="message" placeholder="Hello!" /></div>
                        </div>
                    </div>
                </div>
                <div class="chatbox-buttons">
                    <button class="send" onclick="submitMessage();">Send</button>
                    <button class="themetoggler" onclick="toggleTheme(this)" name="toggler">Dark</button>
                </div>
            </div>
        </div>
        <a href="https://github.com/httpjamesm/cryptochat/"><button class="githubbttn">Github</button></a>
    </body>
    <script>
        var user_name = prompt("Username:", "");
        var decryptPass = prompt("Encryption Key:", "")
        var notificationsound = new Audio('https://' + window.location.hostname + ":" + location.port + "/notification")
    notificationsound.volume = 0.1
    
    let code = (function(){
        return{
            encryptMessage: function(messageToencrypt = '', secretkey = ''){
                var encryptedMessage = CryptoJS.AES.encrypt(messageToencrypt, secretkey);
                return encryptedMessage.toString();
            },
            decryptMessage: function(encryptedMessage = '', secretkey = ''){
        var decryptedBytes = CryptoJS.AES.decrypt(encryptedMessage, secretkey);
        var decryptedMessage = decryptedBytes.toString(CryptoJS.enc.Utf8);

      return decryptedMessage;
    }
    }
    })();

    var socket = io.connect('https://' + window.location.hostname + ':' + location.port);
    /*var matches = window.location.href.match(/\?key=(?<key>.*)&username=(?<username>.*)/);
    var decryptPass = matches.groups.key;    
    var user_name = matches.groups.username;*/
    socket.on( 'connect', function() {
      socket.emit( 'chat event', {
        data: 'User Connected'  
    })})    
    document.getElementById("msg")
    .addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        form2()
    }
});

    socket.emit( 'chat event', {
        user_name : code.encryptMessage(user_name,decryptPass),
        message : code.encryptMessage('has joined the room.',decryptPass)
    })    
    var form2 = function( e ) {
        let user_input =  document.getElementById("msg").value
        if (user_input == "") {
            return
        }
        socket.emit( 'chat event', {
            user_name : code.encryptMessage(user_name,decryptPass),  
            message : code.encryptMessage(user_input,decryptPass)
        } )  
        $( 'input.message' ).val( '' ).focus()
    }    
    socket.on( 'my response', function( msg ) {
      console.log( msg )
      if( typeof msg.user_name !== 'undefined' ) {
        $( 'h3' ).remove()  
        messagebox = document.createElement('P')
        messagebox.className = 'messagetxt'
        
        if (code.decryptMessage(msg.user_name,decryptPass) == "" && code.decryptMessage(msg.message,decryptPass) == ""){
            return
        }
        text = document.createTextNode(code.decryptMessage(msg.user_name,decryptPass) + ": " + code.decryptMessage(msg.message,decryptPass));
        messagebox.appendChild(text)
        messages = document.getElementsByName("messageviewer")[0]
        messages.appendChild(messagebox)
        messages.scrollTop = messages.scrollHeight;
        if (document.hasFocus()){
            return
        }
        notificationsound.play()
      }  
    })  
    function submitMessage() {
        form2()
    }
    function changeButton( el )
{
    if ( el.innerText == "Dark" )
        el.innerText = "Light";
    else
        el.innerText = "Dark";
}
    function toggleTheme(el) {
            changeButton(el);
            // Obtains an array of all <link>
            // elements.
            // Select your element using indexing.
            var theme = document.getElementsByName('styles')[0];
            console.log(theme)
  
            // Change the value of href attribute 
            // to change the css sheet.
            if (theme.getAttribute('href') == 'lightmode.css') {
                theme.setAttribute('href', 'darkmode.css');
            } else {
                theme.setAttribute('href', 'lightmode.css');
            }
        }
    </script>
</html>