<!DOCTYPE html>
<html lang=en>
    <head>
        <link rel='stylesheet' href='/styles/privacy.css'>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self'; object-src 'none';X-XSS-Protection: 1; mode=block">
        <meta name='description' content="CryptoChat's Privacy Policy">
        <script defer src="/scripts/legal.js"></script>
        <meta name='theme-color' content='#363636'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>CryptoChat</title>
    </head>
    <body>        
        <div class='chatbox-parent'>
            <div class='chatbox-child'>
                <div class='chatbox-header'>
                    <h1 class='chatbox-title'>CryptoChat - Privacy</h1>
                    <h2 class="chatbox-subtitle">Find out what data's being collected and how it's being handled.</h2>
                </div>
                <p class="textcontent">cryptochat.dev respects and values user privacy, which is why we collect what is only strictly necessary for our services to function properly. The contents of this policy describe what data we collect, how we collect it and who we may share it with. The pronouns "we" and "us" represent cryptochat.dev's websites and services and its affiliates.</p>
                <h3 class="header">Scope</h3>
                <p class="textcontent">This privacy policy only applies to the cryptochat.dev websites and services. Other services possess their own privacy policies which define how they use data.</p>
                <h3 class="header">Data Collected</h3>
                <p class="textcontent">CryptoChat collects the absolute minimum. We only collect what is necessary to provide CryptoChat services to the end-user--nothing else.<ul class="bullet">
                    <li>When visiting the CryptoChat website, the user's IP address is stored in memory in order to enforce IP-based ratelimits. This prevents API abusers and spam bots from flooding the website. This data is then wiped from memory within 60 seconds of the user's website departure. IP addresses are never stored permanently, nor to disk.</li>
                    <li>Encrypted versions of users' usernames and messages may be stored temporarily in memory in order to debug issues with the platform. This data is never saved to disk, and will almost be toggled off. In any event, no CryptoChat user, including its developers, can see user content submitted on the platform due to end-to-end encryption.</li>
                </ul>
                <p class="textcontent">CryptoChat does not sell, rent or sublease user information. While CryptoChat does not log user information, the services it uses to deliver content to the end-user may. The following services may collect user information when in use:</p>
                    <ul class="bullet">
                        <li>Cloudflare (cloudflare.com)</li>
                    </ul>
                <p class="textcontent">These services have their own privacy policies. We encourage users to read the individual documents.</p>
                <h3 class="header">Data Handling</h3>
                <p class="textcontent">CryptoChat does not save user information, including IP address and user submitted content. User submitted content cannot be read by anybody, including CryptoChat developers, due to client-side encryption. In the event of a legal notice pertaining to user data, we will not be able to comply because of the lack of logged data.</p>
                <h3 class="header">Cookies</h3>
                <p class="textcontent">CryptoChat may place cookies in user browsers in order to improve user experience on our website. These cookies are never used to cross-track or identify users.</p>
                <h3 class="header">Inquiries</h3>
                <p class="textcontent">All inquiries regarding privacy, including legal requests, should go to <u><a href="mailto:privacy@cryptochat.dev">privacy@cryptochat.dev</a></u>.</p>
                <div class="chatbox-buttons">
                    <button class='themetoggler' onclick='switchTheme()' id='toggler'>Dark</button>
                    <a href="/legal"><button class="home">Back</button></a>
                </div>
            </div>
        </div>
        <a href='https://github.com/httpjamesm/cryptochat/'><button class='githubbttn'>Github</button></a>
    </body>
</html>